
@media screen and (min-width: 781px) and (max-width: 1140px) {
  #restaurants-list {
    width: 750px;
  }
  
  #restaurants-list li {
    width: 270px;
  }
}

@media screen and (min-width: 1140px) and (max-width: 1510px) {
  #restaurants-list {
    width: 1100px;
  }
}

@media screen and (min-width: 1511px) {
  #restaurants-list {
    width: 1500px;
  }
}

@media screen and (min-width: 1001px) {
  #restaurants-list li {
    width: 270px;
  }

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100% - 146px);
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }

  .inside #footer {
    bottom: 0;
  }

  #restaurant-container, #reviews-container {
    width: 50%;
  }

  #breadcrumb {
    width: calc(50% - 80px);
  }

  #maincontent {
    width: 100%;
  }
}

