
@media screen and (max-width: 650px) {
  
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
  
}

@media screen and (min-width: 1001px) {
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }

  #restaurant-container, #reviews-container {
    width: 50%;
  }
}

